<!-- views/hello.ejs -->

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Hello World!</title>
    <link rel="stylesheet" href="/css/master.css">
</head>
<body>
<h1>Hello~
    <% if(name){ %>
    <span class="name"><%= name %>!</span>
    <% } else { %>
    <span class="stranger">Stranger!</span>
        <% } %>
</h1>
</body>
</html>